<header class="jumbotron">
    <img src="/assets/img/burger.jpg" alt="Image" height="200" width="200" />
    <h3 class="display-3">Eat-Da-Burger !!</h3>
    <p class="lead">An app to fulfill your burger wish</p>
</header>
<main class="container">
    <section>
        <!--  Row to display list of burgers wished-->
        {{#each burgers}}
        {{#if devoured}}
        <div class="row">
            <!--  Psudo column for alignment of UI-->
            <div class="col-md-2">
                <label></label>
            </div>
            <!--  Disabled textarea to display wished burger -->
            <div class="col-sm-3">
                <textarea burg-id={{id}} class="form-control ta-border" disabled rows="2">{{name}}</textarea>
            </div>
            <div class="col-sm-2 center">
                <button data-id={{this.id}} class="btn btn-primary btn-devour">
                    Devour It!
                </button>
            </div>
            {{else}}
            <!--  Disabled textarea to display devoured burger -->
            <div class="col-sm-3">
                <textarea class="form-control ta-border" disabled rows="2">{{name}}</textarea>
            </div>
            <!--  Psudo column for alignment of UI-->
            <div class="col-md-2">
                <label></label>
            </div>
        </div>
        {{/if}}
         {{/each}}
        <!--  Create some gap-->
        <div class="row">
            <div class="col-md-12">
                <label></label>
            </div>
        </div>
        <!--  Create some gap-->
        <div class="row">
            <div class="col-md-12">
                <label></label>
            </div>
        </div>
        <!--Form to submit the burger name entered in text area on the click of the submit button-->
        <form class="create-form">
            <div class="form-group">
                <!--  Row for the Text Area -->
                <div class="row">
                    <div class="col-md-4">
                        <label class="float-right"></label>
                    </div>
                    <div class="col-md-4">
                        <textarea class="form-control ta-border" id="wish-burg" rows="3"></textarea>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <!--  Row for the submit button -->
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2 center">
                        <button type="submit" class="btn btn-primary btn-submit">
                            submit
                        </button>
                    </div>
                    <div class="col-md-5"></div>
                </div>
            </div>
        </form>
        <!--  Row for the Instruction to use app -->
        <div class="row">
            <div class="col-sm-4">
                <label></label>
            </div>
            <div class="col-sm-6">
                <p>Enter a burger you want to eat. Click the "Submit" button</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </section>
</main>